body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to right, #ff7e9d, #ff65a3);
    border: 2px solid #ff65a3;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  h1, h2 {
    color: #ffffff;
    border-bottom: 2px solid #ff65a3;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  h1:hover, h2:hover {
    background-color: #830c3b7a;
    color: #fff;
  }
  
  form label {
    display: block;
    margin: 10px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  button {
    background-color: #ff65a3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #861c3e77;
  }
  